body {
  background-color: rgba(255, 210, 168, 0.973); 
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,p,div {
  text-align: center;
}

.letsbake {
  color: rgb(255, 153, 204);
  font-size: xx-large;
}
.haupttitel {
  color: red
}
.raetselname {
  color: rgb(50, 138, 209)
}
.loesungswort {
  text-align: center;
}
